* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #333;
}

/* variables */
:root {
  --primary: #f1356d;
  --lighter-primary: #f1356d4f;
  --secondary: #7f9fda63;
  --grey-text: #6a776f;
  --red-warning: #ff5722;
  --text-basic: #333;

}

/* reset */

body, p, a, ul, li {
  margin:0;
  padding: 0;
  text-decoration: none;
}

li, ul{
  list-style-type: none;
}

body {
  background-color: white;
  overflow-x: hidden;
  font-size: 14px;
}

h1 {
  color: var(--primary);
}
h1, h3 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

/* buttons */
.btn {
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    display:inline-block;
  }

  .btn:hover {
    color: var(--grey-text);
    background-color: var(--lighter-primary);
  }

.login {
  background-color:  var(--primary);
  color: #fff;
}

.signup {
  background-color:  var(--secondary);
  color: #fff;
}

.highlight {
  background-color:  var(--primary);
  color: #fff;
  align-self:flex-end;
}


.wrapper {
  /* centralize */
  max-width: 960px;
  margin: 0 auto;
}

.wrapper-main{
  max-width: 960px;
  margin: 0 auto;
  padding-top: 16px;

}

.heading-list{
  text-align: left;
  margin-left: 8px;
}

header {
  padding-bottom: 16px;
}
  .wrapper img {
    max-width: 100%;
    height: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .nav-li-0{
    grid-column: 1/4;
    padding: 8px;
    color: var(--primary);
    font-weight: bold;
    border-bottom: 2px solid grey
  }
  .nav-li-1 {
    grid-column: 5/7;
    margin-left: 5px;
  }
  .nav-li-2 {
    grid-column: 7/9;
    justify-self: end;
    margin-right: 8px;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat( 8, 1fr);
    grid-gap: 10px;
  }
  
  .article {
    grid-column: 1/9;
    padding: 8px;
    padding-bottom: 16px;
    border-bottom: 2px solid #fafafa; 

    /* border-bottom: 1px solid var(--secondary); */
    /* border-radius: 8px; */
    line-height: normal;
    position: relative;
  }
  .article:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  }
 .paddingfromtop {
  padding-top: 8px;
 }
  .art-detail-author {
    grid-column: 4/7;
    color: var(--grey-text);

    /* background-color: var(--secondary); */
    /* border-radius: 8px; */
    /* position: absolute;
   left: 8px; 
    bottom: 5px;
    margin: 0; */
  }

  .created-p {
    grid-column: 1/4;
    color: var(--grey-text);
  }
  
  .article:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    }
  
    .article h2 {
      color:  var(--secondary);
      margin-bottom: 8px;
    }
    .article a {
      text-decoration: none;
    }  
   .article-detail {
    padding: 0;
   }
   .snippet-p {
    overflow-x: hidden;
   }
   .article-detail img {
    max-width: 100%;
   }

   .article-detail h2 {
    text-align: center;
    margin: 20px auto;
   }
   
   .article-body {
    padding: 20px 0;
   }

   .footer {
    color:#fafafa;
    background-color: var(--secondary);
    background-image: url('plain-nose.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* width: 100%;
    max-width: 400px; */
    text-align: center;
    margin:0 auto;

   }
   .footer p, .footer ul{
    padding: 10px;
   }

   footer .copyright {
    grid-column: 1/4;
    font-size: 0.9em;
    text-align: center;
    align-self: center;
   }

   footer .social-icons {
    grid-column: 7/8;
    display: flex;
    justify-content: flex-end;
   }
 
  .gith svg {
    margin-left: 7px;
    margin-top: 5px;
    width: 30px;
  }

   footer li {
    margin: 0 6px;
    font-size: 0.8em;
   }

   /* *************** */

  .site-form {
    margin-top: 60px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 20px;
  }

  .site-form input, .site-form textarea {
    display: block;
    margin: 0 0 20px 0;
    padding: 8px;
    border-radius: 8px;
  }

  /* a.highlight {
    background-color:  var(--primary);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
  } */

  /* style built in django forms */
  .helptext, .helptext ul {
    margin: 0 auto 20px;
    /* color: var(--grey-text); */
    font-size: 0.9em;
    display: block;
  }

  .errorlist{
    padding: 0;
  }
  .errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid var(--red-warning);
    color: var(--red-warning);
    border-radius: 4px;
    margin: 10px 0;
  }

  .site-form input[type=submit] {
    background: var(--secondary);
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    margin: 10px 0;
  }

  /* mobile style */

  /* small tablets */
  @media screen and (min-width: 620px) {
    body{
      font-size: 16px;
    }
  }

  /* larger tablets and laptops */
  @media screen and (min-width: 960px) {
    body{
      font-size: 18px;
    }
  }
  /* desktops */
  @media screen and (min-width: 1200px) {
    body{
      font-size: 20px;
    }
  }