{% extends 'base_layout.html' %}

{% block content %}

    <h1 class="h1-title">Article List</h1>

    <div class="articles grid">
        {% for article in articles %}
           
            <div class="article">
                <a href= "{% url 'articles:article_detail' article.id %}" >
                    <h2>{{ article.title }}</a></h2>
                    <p class="snippet-p">{{ article.snippet }}</p>
                    <div class="grid paddingfromtop">
                        <div class="created-p">{{ article.formatted_created }}</div>
                        <div class="art-detail-author">added by {{ article.author.username}}</div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}
    
