{% extends 'base_layout.html' %}

{% block content %}

    <h1>Article List</h1>

    <div class="articles">
        {% for article in articles %}
           
            <div class="article">
                <a href= "{% url 'articles:article_detail' article.id %}" >
                    <h2>{{ article.title }}</a></h2>
                    <p>{{ article.snippet }}</p>
                    <p >{{ article.created_at }}</p>
                    <p class="art-detail-author">added by {{ article.author.username}}</p>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}
    
