{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'home'%}">
            <img src="{% static 'blog-social-banner-6.jpg' %}" alt="blog-banner" />
                </a></h1>
        <nav>
            <ul class="grid">
                {% if user.is_authenticated %}
                    <li class="nav-li-1">
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token%}
                            <button class="btn logout" type="submit">Log Out</button>
                            </form>
                    </li>
                    <li class="nav-li-2"><a class="btn highlight" href="{% url 'articles:create' %}">Create Article</a></li>
                {% else %}
                    <li class="nav-li-1"><a class="btn login" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-li-2"><a class="btn signup" href="{% url 'accounts:signup' %}">Signup</a></li>

                {% endif %}
            </ul>
        </nav>
        </header> 


        <div class="wrapper">  
        {% block content %}
          
        {% endblock %}

    </div>
    <footer class="footer grid">
        <p class="copyright"> Copyright 2024 Anna Seniuta</p>
        <ul>
            <li>github</li>
            <li>email</li>

        </ul>
        <!-- <img class="footer-img" src="{% static 'wave-border-4.png' %}" alt="waves"/> -->
    </footer>
</body>
</html>